# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /assets/facebook_apps/plant/FacebookApp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /assets/facebook_apps/plant/FacebookApp/index.php [L]
</IfModule>

# END WordPress
